Flask==1.0.0
pytest
requests
Jinja2==3.0.1
coverage
itsdangerous==2.0.1
opentelemetry-api==1.0.0rc1
opentelemetry-exporter-jaeger==1.0.0rc1
opentelemetry-instrumentation==0.18b0
opentelemetry-instrumentation-flask==0.18b1
opentelemetry-instrumentation-grpc==0.18b1
opentelemetry-instrumentation-requests==0.18b1
opentelemetry-instrumentation-wsgi==0.18b1
opentelemetry-sdk==1.0.0rc1
opentelemetry-util-http==0.18b1
docker
kubernetes